{% extends 'mailing/base.html' %}

{% block detail_message %}
    <div class="container-xl">
        <br>
        <br>

        <p class="h2">{{ object.title|capfirst }}</p>
        <p>
            <br>
        </p>
        <p>{{ object.text }}</p>
        <br>
        {% if perms.mailing.view_message %}
           Пользователь: {{ object.owner }}
        {% endif %}
        <br>
        <br>

        <td><a class="p-2 btn btn-dark" href="{% url 'mailing:message' %}">Назад</a></td>

    </div>

{% endblock %}