{% extends 'mailing/base.html' %}

{% block message %}
    <div class="container-xl">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Тема</th>
                <th scope="col">Тело письма</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <th scope="row">{{ object.id }}</th>
                    <td>{{ object.title|capfirst }}</td>
                    <td>{{ object.text|truncatechars:150 }}</td>
                    <td><a class="text-black" href="{% url 'mailing:detail_message' object.pk %}">Подробнее</a></td>
                    <td><a class="text-black" href="{% url 'mailing:update_message' object.pk %}">Изменить</a></td>
                    <td><a class="text-black" href="{% url 'mailing:delete_message' object.pk %}">Удалить</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <td><a class="p-2 btn btn-dark" href="{% url 'mailing:create_message' %}">Добавить письмо</a></td>
    <br>
    <br>
        <td><a class="p-2 btn btn-dark" href="{% url 'mailing:settings' %}">Продолжить настройку</a></td>
    </div>


{% endblock %}
