{% extends 'mailing/base.html' %}

{% block client %}
    <div class="container-xl">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Email</th>
                <th scope="col">Комментарий</th>
            </tr>
            </thead>
            <tbody>

            {% for object in object_list %}
                <tr>

                    {% if user == object.owner or perms.mailing.view_client %}
                        <th scope="row">{{ object.id }}</th>
                        <td>{{ object.fio }}</td>
                        <td>{{ object.email }}</td>
                        <td>{{ object.comment }}</td>
                        {% if user == object.owner or user.is_superuser %}
                            <td><a class="text-black" href="{% url 'mailing:update_client' object.pk %}">Изменить</a>
                            </td>
                            <td><a class="text-black" href="{% url 'mailing:delete_client' object.pk %}">Удалить</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <td><a class="p-2 btn btn-dark" href="{% url 'mailing:create_client' %}">Добавить пользователя</a></td>
    </div>

{% endblock %}