{% extends 'mailing/base.html' %}

{% block status_delete %}
    <div class="container-xl">
        <br>
        <br>
        <div class="col-5">
            <div class="text-center">
                <div class="card ">
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" class="text-center">
                            {% csrf_token %}
                            <p>
                                Удалить статус рассылки "{{ object.settings_pk.message.title|capfirst }}"?
                            </p>
                            <a class="text-muted" href="{% url 'mailing:status' %}">Отменить</a>
                            <button class="p-2 btn btn-dark" type="submit">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}