{% extends 'mailing/base.html' %}

{% block content %}
    <div class="container">
        <br>
        <h1 class="display-8">Возникла ошибка!</h1>
        <h1 class="display-8">Аккаунт не был найден.</h1>
        <br>
        <h5 class="display-8">Возможно прошло слишком много времени с момента регистрации, попробуйте отправить письмо
            повторно или зарегистрироваться заново</h5>
        <a class="p-2 btn btn-outline-dark" href="#">Отправить письмо</a>
        <a class="p-2 btn btn-outline-dark" href="{% url 'users:registration' %}">Рeгистрация</a>
    </div>

{% endblock %}