{% extends 'mailing/base.html' %}

{% block client %}
    <div class="container-xl">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Email</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Страна</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <th scope="row">{{ object.id }}</th>
                    <td>{{ object.last_name }} {{ object.first_name }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.phone }}</td>
                    <td>{{ object.country }}</td>
                    {% if object.is_active %}
                        <td><a class="btn btn-outline-success me-2" href="{% url 'users:status' object.pk %}">Активный</a></td>
                    {% else %}
                        <td><a class="btn btn-outline-danger me-2" href="{% url 'users:status' object.pk %}">Заблокированный</a></td>
                    {% endif %}


                </tr>
            {% endfor %}

            </tbody>
        </table>
        <td><a class="p-2 btn btn-dark" href="{% url 'mailing:create_client' %}">Добавить пользователя</a></td>
    </div>

{% endblock %}